.primeira-coluna{
  position: absolute;
    height: 100vh;
    width: 50vw;
    float: left;
}



.segunda-coluna {
        position: relative;
        height: 100vh;
        width: 50vh;
        float: right;
        
        
        background-color: #F2EEE9;
    }
  

